<!DOCTYPE html>
<html lang="en" xmlns:th="http:/ /www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
    <h1>ORDER TACO</h1>
    <img th:src="@{/images/taco.png}" width="500px" height="auto">
    <form th:object="${tacoOrder}" th:action="@{/orders/process-data}" method="post">
        <div class="ingredient-group">
            <label>Delivery Name : </label>
            <div>
                <input th:field="*{deliveryName}" type="text"/>
                <span class="validationError"
                    th:if="${#fields.hasErrors('deliveryName')}"
                    th:errors="*{deliveryName}"></span>
             </div>
        </div>

        <div class="ingredient-group">
            <label>Delivery Street : </label>
            <div>
                <input th:field="*{deliveryStreet}" type="text"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('deliveryStreet')}"
                      th:errors="*{deliveryStreet}"></span>
            </div>
        </div>

        <div class="ingredient-group">
            <label>Delivery City : </label>
            <div>
                <input th:field="*{deliveryCity}" type="text"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('deliveryCity')}"
                      th:errors="*{deliveryCity}"></span>
            </div>
        </div>

        <div class="ingredient-group">
            <label>Delivery State : </label>
            <div>
                <input th:field="*{deliveryState}" type="text"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('deliveryState')}"
                      th:errors="*{deliveryState}"></span>
            </div>
        </div>

        <div class="ingredient-group">
            <label>Delivery Zip : </label>
            <div>
                <input th:field="*{deliveryZip}" type="text"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('deliveryCity')}"
                      th:errors="*{deliveryCity}"></span>
            </div>
        </div>

        <div class="ingredient-group">
            <label>cc Number : </label>
            <div>
                <input th:field="*{ccNumber}" type="text"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('ccNumber')}"
                      th:errors="*{ccNumber}"></span>
            </div>
        </div>

        <div class="ingredient-group">
            <label>cc Expiration : </label>
            <div>
                <input th:field="*{ccExpiration}" type="text"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('ccExpiration')}"
                      th:errors="*{ccExpiration}"></span>
            </div>
        </div>
        <div class="ingredient-group">
            <label>cc CVV: </label>
            <div>
                <input th:field="*{ccCVV}" type="text"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('ccCVV')}"
                      th:errors="*{ccCVV}"></span>
            </div>
        </div>
        <br><br><br><br><br><br>
        <button type="submit">ODER</button>
    </form>
</body>
</html>